* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    cursor: pointer;
}

/* Sections */
.section {
    padding: 50px;
    text-align: center;
}

.skills, .projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skills div, .card {
    background: #1e293b;
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
